<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.test.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="roboguice.modules"
            android:value="com.test.app.config.ConfigModule"/>

        <activity
            android:name="com.test.app.activities.SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.app.activities.CategoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_home">
        </activity>
        <activity
            android:name="com.test.app.activities.DetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
        </activity>
    </application>

</manifest>
